annotated-types
anyio
cachetools
certifi
charset-normalizer
colorama
distro
exceptiongroup
google-api-core
google-auth
google-cloud-speech
google-cloud-texttospeech
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
idna
numpy
openai
proto-plus
protobuf
PyAudio
pyasn1
pyasn1_modules
pydantic
pydantic_core
QtAwesome
requests
rsa
sniffio
tqdm
typing_extensions
urllib3
PyQt5
