annotated-types
anyio
audioop-lts
audioread
cachetools
certifi
cffi
charset-normalizer
click
colorama
decorator
distro
exceptiongroup
filelock
fsspec
google-api-core
google-auth
google-cloud-speech
google-cloud-texttospeech
googleapis-common-protos
grpcio
grpcio-status
gTTS
h11
httpcore
httpx
idna
Jinja2
jiter
joblib
lazy_loader
librosa
llvmlite
MarkupSafe
more-itertools
mpmath
msgpack
networkx
numba
numpy
openai
openai-whisper
packaging
platformdirs
pooch
proto-plus
protobuf
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
PyQt5
PyQt5-Qt5
PyQt5_sip
QtAwesome
QtPy
regex
requests
rsa
scikit-learn
scipy
setuptools
sniffio
soundfile
soxr
standard-aifc
standard-chunk
standard-sunau
sympy
threadpoolctl
tiktoken
torch
tqdm
typing-inspection
typing_extensions
urllib3
